body, html {
    font-family: "Roboto", sans-serif;
    background: #87e0fd;
   // background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .pics {
    display: flex;
    flex-direction: row;
  }

  .logo1 {
    src: url('img/ron.jpg');
    background-repeat: no-repeat;
  }

  .logo2 {
    src: url('img/kanye.jpg');
    background-repeat: no-repeat;
  }
  .active {
    color: pink;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: black;
    border-width: 2px;
    border-style: solid;
  }

  .robo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: black;
    border-width: 2px;
    border-style: solid;
  }